<footer class="footer">
  <div class="container footer-grid">

    <div>
      <img
        class="footer-logo"
        src="assets/images/jandigital-logo.png"
        alt="JANDIGITAL"
      >

      <p>Creative Minds. Digital Impact.</p>
    </div>


    <div class="links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/clients">Clients</a>
      <a routerLink="/how-we-work">How We Work</a>
      <a routerLink="/contact">Contact</a>
    </div>


    <div class="social">
      <span>South Africa</span>

      <a
        href="https://wa.me/27695376971"
        target="_blank"
        rel="noopener"
      >
        WhatsApp
      </a>
    </div>

  </div>

  <div class="container copyright">
    © 2026 JANDIGITAL. All rights reserved.
  </div>
</footer>